
.question_border {
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-left: 50px;
}
.publish-tag-tab {
    display: none;
    margin-top: 10px;
    padding-top: 10px;
}

.publish-tag-tab .label-info {
    white-space: normal;
    margin: 5px 5px;
    display: inline-block;
}
/*调节标签之间的距离*/
/*.question-tag {*/
/*    margin-right: 6px;*/
/*}*/

.question-related {
    line-height: 20px;
    font-size: 15px;
    margin-left: 0;
    list-style: none;
    padding-left: 5px;
}

.shareIcon {
    font-size: 20px;
    color: #8249fa;
}

a:link, a:visited {
    text-decoration: none; /*超链接无下划线*/
}

.share {
    color: #35a7c0;
}

.weChat {
    width: 100%;
}

.main {
    background-color: #efefef;
    padding: 25px;
    margin: 50px;
}

.top {
    background: #ccd2c3;
}

.pic {

    height: 55px;
    width: 55px;
}

.hotpic {
    height: 40px;
    width: 40px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.media-object {
    width: 38px;
    height: 38px;
}

/*调整热门话题间距*/
.media-body {
    padding-top: 5px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #8249fa;
}

.profile .section {
    margin-top: 15px;
}

.community-menu {
    /*换行*/
    /*display: block;*/
    color: #999;
    font-size: 13px;
    margin-bottom: 15px;
}

.jumbotron {
    margin: 50px;
}

.comment {
    margin: 10px 0;
}

.btn-comment {
    float: right;
    margin-bottom: 10px;
}

.comments {
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.sub-comments {
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
    margin-bottom: 15px;
}

.comment-sp {
    margin-top: 0;
}

.menu {
    color: #999;
    margin-top: 5px;
}

.menu .icon {
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}

/*悬浮*/
.menu .icon:hover {
    color: #499ef3;
}

.menu .active {
    color: #499ef3;
}

.menu .comment-icon:hover {
    color: #499ef3;
}

body {
    background-color: #efeded;
}

.videos{
    padding: 20px;
    height: 100%;
}

