<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/publish.css" th:href="@{/publish.css}">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="~{commons/topBar::topBar}"></div>
<div class="jumbotron">
    <h2 align="center">出错啦！！！</h2>
    <p th:text="${message}">服务太热啦，要不然稍等下再来试试~</p>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">回到主页</a></p>
</div>
</body>
</html>