<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/publish.css" th:href="@{/publish.css}">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!--抽取公共模块-->
<div th:replace="~{commons/topBar::topBar}"></div>
<div class="row question_border">
    <!-- 如果是大屏幕9 3 分，中小屏幕水平排列       -->
    <div class="col-lg-8 col-md-12 col-sm-12">
        <h2><span class="glyphicon glyphicon-list" aria-hidden="true" style="color: #bfce16">问题大厅</span></h2>

        <div class="media" th:each="question : ${pagination.data}">
            <div class="media-left media-middle">
                <a href="" style="margin-left: 6px">
                    <img class="img-rounded pic" th:if="${question.user.getAvatarUrl()!=null}"
                         th:src="${question.getUser().getAvatarUrl()}"
                         src="https://avatars2.githubusercontent.com/u/40589410?v=4">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    <a th:href="@{'/question/'+ ${question.id}}" th:text="${question.title}"></a>
                </h4>
                <!--                <span th:text="${question.description}"></span> <br>-->
                <span class="text-desc"><span th:text="${question.commentCount}"></span> 个回复 • <span
                        th:text="${question.viewCount}"></span> 次浏览 • <span
                        th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span></span>
            </div>
            <br th:width="0px">
        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li th:if="${pagination.showFirstPage}">
                    <a th:href="@{/(page=1,search=${search})}" aria-label="Previous">
                        <span aria-hidden="true">&lt;&lt;</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/(page = ${pagination.page-1},search=${search})}" aria-label="Previous"
                       th:if="${pagination.isShowPrevious()}">
                        <span aria-hidden="true">&lt;</span>
                    </a>
                </li>
                <!--  还有一个注意点就是这个active样式必须放在li上              -->
                <li th:each="page:${pagination.pages}" th:class="${pagination.page==page ? 'active':''}">
                    <a th:text="${page}" th:href="@{/(page=${page},search=${search})}">
                    </a>
                </li>
                <li>
                    <a th:href="@{/(page = ${pagination.page+1},search=${search})}" aria-label="Next"
                       th:if="${pagination.showNext}">
                        <span aria-hidden="true">&gt;</span>
                    </a>
                </li>
                <li th:if="${pagination.showEndPage}">
                    <a th:href="@{/(page=${pagination.totalPage},search=${search})}" aria-label="Previous">
                        <span aria-hidden="true">&gt;&gt;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12">

        <h3 style="color: #00d95a"><span class="glyphicon glyphicon-dashboard">热门标签</span></h3>
        <div class="media" th:each="hotTag : ${HotTags}">
            <div class="media-body">
                <div class="media-left media-middle">
                    <a href="" style="margin-left: 0px">
                        <div class="media-left media-middle">
                            <a href="" style="margin-left: 0px">
                                <img class="img-rounded hotpic" th:src="@{/images/hotTagHead.png}">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">
                                <span class="label label-success"><a
                                        th:href="@{/(page=1,search=${search},tag=${hotTag.getTagName()})}"
                                        th:text="${hotTag.getTagName()}"></a></span>
                            </h4>
                            <span th:text="'标签热度'+${hotTag.getPriority()}"></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <h3 style="color: #00d95a"><span class="glyphicon glyphicon-flag">热门话题</span></h3>
        <div class="media" th:each="question : ${hotQuestions}">
            <div class="media-body">
                <div class="media-left media-middle">
                    <a href="" style="margin-left: 0px">
                        <div class="media-left media-middle">
                            <a href="" style="margin-left: 0px">
                                <img class="img-rounded hotpic" th:src="${question.getUser().getAvatarUrl()}"
                                     src=" https://avatars2.githubusercontent.com/u/40589410?v=4">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">
                                <a th:href="@{'/question/'+ ${question.id}}" >
                                    <span class="label label-info" th:text="${question.title}">Info</span>
                                </a>
                            </h4>
                            <span th:text="${question.user.getName()}"></span>
                            <span th:text="'阅读热量'+${question.viewCount}"></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>

<!--        <div class="col-lg-12 col-md-12 col-sm-12">-->
<!--            <h3 style="color: #5d2bad">站长微信</h3>-->
<!--            <img th:src="@{/images/indexWeChat.png}" th:height="250px" th:width="350px">-->
<!--        </div>-->

    </div>
</div>
<div th:replace="~{commons/footer::foot}"></div>
</body>
</html>