<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--    <link rel="stylesheet" href="css/bootstrap.min.css">-->
    <!--    <link rel="stylesheet" href="css/bootstrap-theme.min.css">-->
    <!--    <script src="js/bootstrap.min.js"></script>-->
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">

</head>
<body>
<div th:replace="~{commons/topBar::topBar}"></div>
<div class="container-fluid">
    <div class="row">
        <!-- 如果是大屏幕9 3 分，中小屏幕水平排列       -->
        <div class="col-lg-9 col-md-12 col-sm-12" style="background-color: #5bc0de"></div>
        <div class="col-lg-3 col-md-12 col-sm-12" style="background-color: red"></div>
    </div>
</div>
</body>
</html>