<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/publish.css" th:href="@{/publish.css}">
    <link rel="stylesheet" type="text/css" href="../css/editormd.min.css" th:href="@{/css/editormd.min.css}">
    <link rel="stylesheet" type="text/css" href="../css/editormd.preview.min.css" th:href="@{css/editormd.min.css}">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../static/community.js" th:src="@{/community.js}"></script>
    <script src="../static/js/editormd.min.js" th:src="@{/js/editormd.min.js}"></script>

</head>
<body>
<div th:replace="~{commons/topBar::topBar}"></div>
<div class="container-fluid">
    <div class="row">
        <!-- 如果是大屏幕9 3 分，中小屏幕水平排列       -->
        <div class="col-lg-9 col-md-12 col-sm-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true">发起问题</span></h2>

            <form action="/publish" method="post">
                <input type="hidden" name="id" th:value="${id}">
                <div class="form-group">
                    <label for="title">问题标题:</label>
                    <input type="text" class="form-control" id="title" name="title" th:value="${title}"
                           placeholder="写入问题的标题">
                </div>

                <div class="form-group" id="question-editor">
                    <label for="description">问题补充 (必填，请参照右侧提示):</label>
                    <textarea name="description" id="description" class="form-control" style="display:none;"
                              th:text="${description}"
                              cols="30"
                              rows="10"></textarea>
                </div>
                <script type="text/javascript">
                    $(function () {
                        var editor = editormd("question-editor", {
                            width: "100%",
                            height: 450,
                            path: "/js/lib/",
                            delay: 0,
                            watch: false,
                            placeholder: "在此处你可以就可以把你的问题呈现出来哦，🙂",
                            imageUpload: true,
                            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                            imageUploadURL: "/file/upload",
                        });
                    });
                </script>
                <div class="form-group">
                    <label for="tag">添加标签:</label>
                    <input type="text" class="form-control" th:value="${tag}" id="tag" name="tag"
                           autocomplete="off"
                           placeholder="输入标签，以，号分隔"
                           onclick="showSelectTag()">

                    <div id="select-tag" class="publish-tag-tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" th:each="selectCategory,selectCategoryStat: ${tags}"
                                th:class="${selectCategoryStat.first ? 'active':''}">
                                <a th:href="${'#'+selectCategory.categoryName}" aria-controls="home" role="tab"
                                   data-toggle="tab" th:text="${selectCategory.categoryName}"></a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" th:id="${selectCategory.categoryName}"
                                 th:each="selectCategory: ${tags}"
                                 th:class="${selectCategoryStat.first ? 'active tab-pane':'tab-pane'}">
                                <span>
                                    <span class="label label-info" th:each="selectTag: ${selectCategory.getTagList()}">
                                    <span class="glyphicon glyphicon-tags" onclick="selectTag(this)"
                                          th:data-tag="${selectTag}"
                                          th:text="${' '+selectTag}">
                                    </span>
                                </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="container-fluid main">
                    <div class="row">
                        <div class="col-lg-11 col-md-12 col-sm-12 col-xs-12">
                            <div class="alert alert-danger col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                 th:if="${info != null}"
                                 th:text="${info}">
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" class="btn btn-success btn-publish">
                                发布
                            </button>
                        </div>
                    </div>
                </div>

            </form>
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12">
            <div style="padding:15px 20px;background: black;">
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<img src="https://spring.io/img/spring-logo-3b6f842fa77c3bea3bac17dbce36a101.png" th:high="500px">
            </div>
            <div style="background-color: #2cded7;padding: 50px 50px" class="col-lg-12 col-md-12 col-sm-12">
                <h3>问题发起指南</h3>
                * 发言内容: 发言内容要是技术方向，禁止互相言语侮辱 <br>
                <hr>
                * 问题标题: 请用精简的语言描述您发布的问题，不超过25字 <br>
                <hr>
                * 问题补充: 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料<br>
                <hr>
                * 选择标签: 选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字<br>
                <hr>
                * 语法规则: 支持Markdown语法规则
            </div>

        </div>
    </div>

</div>
<div th:replace="~{commons/footer::foot}"></div>
</body>
</html>